@mixin pageContainer {
	width: 700rpx;
	max-width: 700px;
	height: 100vh;
	margin: 0 auto;
	position: relative;
	display: flex;
	flex-direction: column;
	font-size: $initFontsize;
}

@mixin buttonNoBorder {
	&:after {
		border: none;
	}
}

uni-page-body {
	height: 100%;
	background: #F5F5F7;
}


// 背景相关
$containerBG: #fff;
$primaryColor: #007aff;
$bg: #F5F5F7;

// 字体相关
$initFontsize: 14px;
$titleFontsize: 16px;
$lightFontColor: rgba(0,0,0,0.5);
$fontBorder: 650;